 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Mobile</h2>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-facebook-plain colored"></i>
      <p></p>
    </div>
</div>
